/*Pré-sets iniciais*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
:root{
    --color-main: #130f4d;
}

body{
    color:#181818;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}

/*Elementos Padrões*/
.none{
    display: none;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


/*Haader*/
#header{
    width: 100%;
    height:70px;
    background-color: var(--color-main);
}
#header .container{
    height: 100%;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.mn-mobile{
    width: 60px;
    height: 100%;
    display: none;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
}
.mn-mobile-bar{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0px;
}
nav ul{
    display: flex;
    height: 100%;
    list-style: none;
}
nav ul li a{
    display: flex;
    align-items: center;
    padding: 0px 25px;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: Arial;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}
nav ul li a:hover{
    background-color: #fff;
    color: var(--color-main);
}


/*Banner*/
#banner{
    width: 100%;
    background:url(../midia/imagens/header-bg.jpg);
    background-size: cover;
    background-position: center;
}
#banner .container{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 30px;
}
.user-avatar{
    background-color: #fff;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(60px);
    position: relative;
}
.user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.editar-avatar{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130f4d61;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.editar-avatar:hover{
    opacity: 1;
}
.user-infos{
    margin-left: 30px;
    transform: translateY(60px);
}
.user-infos h1{
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #171717;
}
.user-infos p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    text-shadow: 1px 1px 1px #171717;
}

#botao-editar{
    position: absolute;
    right: 5px;
    bottom: 30px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #433d9a8f;
    backdrop-filter: blur(1px);
    border: 1px solid #14113afb;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botao-editar img{
    margin-left: 10px;
    width: 25px;
}

/*Media querys*/

@media (min-width:811px) and (max-width: 920px){
    .user-avatar{
        width: 200px;
        height: 200px;
    }
    .user-infos h1{
        font-size: 30px;
    }
    .user-infos p{
        font-size: 16px;
    }
}

@media (max-width: 810px) {
    #header{
        height: auto;
    }
    nav{
        flex-direction: column;
        align-items: flex-end;
    }
    .mn-mobile{
        display: flex;
        margin: 20px 0px;
    }
    nav ul{
        width: 100%;
        height: 0px;
        overflow: hidden;
        flex-direction: column;
    }
    nav ul li a{
        padding: 30px 0px;
        justify-content: center;
    }
    #banner{
        height: auto;
    }
    #banner .container{
        flex-direction: column;
        padding-bottom: 100px;
    }

    .user-avatar{  
        margin-left: 0;
        transform: translateY(00px);
       /*Mantem proporção 1/1 de largura e altura*/
        width: 270px;
        height: 270px;
    }
    .user-infos{
        margin-left: 0;
        margin-top: 20px;
        transform: translateY(00px);
        text-align: center;
    }
    .user-infos h1{
        font-size: 32px;
    }
    .user-infos p{
        font-size: 18px;
    }
    #botao-editar{
        right: 10px;
        bottom: 10px;
    }
}